body {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    background-color: rgb(189, 224, 246);
}


h1, h2 {
    font-family: "Times New Roman";
    font-weight: bold;
}

h3 {
    font-family: "Helvetica" sans-serif;
    font-weight: bold;
}

a {
color: blue;
}

a {
  display: block; 
  padding-bottom: 10px; 
}

 a:hover {
      color:rgb(217, 50, 50);
 }

hr {
  height: 3px; 
  background-color: rgb(4, 86, 4); 
  border: none; 
}

a {
    text-decoration: none;
}


